body {
    background-color: #312F47;
    font-size: 15px;
    list-style-type: none;
    color: white;}

#database {
    font-size:15px;}

li {
    list-style-type: none;
    width: 250px;
    margin-top: 10px;
    font-size: 16px;}

button {
    background-color: white;
    color: black;
    margin-left: 15px;
    font-size: 16px;}